
.formulario-alta {
  padding: 24px;
  background-color: #031c37; 
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}


.titulo-formulario {
  margin-bottom: 16px !important;
  font-weight: bold !important;
  color: #ffffff !important;
}


.campos-formulario {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
  flex-wrap: wrap;
  align-items: center;
}
